
body
{
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
font-weight: 600px;
}

.principal
{
	width: 100%;
	height: 800px;
	background-color: #ffffff;
	margin: 0px;
	border:1px solid rgb(255, 255, 255);
}

#tablero
{
	margin-left: 350px;
}

#btn1
{
	border:none;
	width: 110px;
	height: 80px;
	background-color: red;
	font-family: 'ZCOOL KuaiLe', cursive;
	font-size: 30px;
	border-radius: 5px;
	border:1px solid black;
	margin-left: 160px;
	margin-top: 400px;
	position: absolute;
}
#btn1:hover
{
	background-color: yellow;
}

#p1
{
	font-family: 'ZCOOL KuaiLe', cursive;
	font-size: 30px;
	margin-left: 160px;
	margin-top: 340px;
	position: absolute;
}

#btn2
{
	border:none;
	width: 110px;
	height: 80px;
	background-color: rgb(26, 128, 0);
	font-family: 'ZCOOL KuaiLe', cursive;
	font-size: 30px;
	border:1px solid black;
	border-radius: 5px;
	position: absolute;
	margin-top: 380px;
	margin-left: 30px;
}
#btn1:hover
{
	background-color: yellow;
}
#p2
{
	font-family: 'ZCOOL KuaiLe', cursive;
	font-size: 30px;
	margin-left:30px;
	margin-top: 330px;
	position: absolute;
}

h2
{
	margin-left: 550px;
}

#ficha1
{
	position: absolute;
	display: none;
}
#ficha2
{
	position: absolute;
	display: none;
}

#r1
{
	margin-left: 100px;
	position: absolute;
	font-size: 20px;
	margin-top: 500px;
}

#r2
{
	margin-left: 1010px;
	position: absolute;
	font-size: 20px;
	margin-top: 500px;
}

#ganador
{
	margin-left: 650px;
}


.btnIniciar{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
	border: 2px solid #0016b0;
}


button{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
	border: 2px solid #0016b0;
}


.Portada{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
	border: 2px solid #0016b0;
}





.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}

.contenedor article {
	line-height: 28px;
}

.contenedor article h1 {
	font-size: 30px;
	text-align: left;
	padding: 50px 0;
}

.contenedor article p {
	margin-bottom: 20px;
}

.contenedor article .btn-abrir-popup {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}


.container{
	background-color: #ffffff;
	padding: : 1em;
	overflow: hidden;
}

.item{
	margin: 1.5em;
	padding: 1em;
	color: rgb(0, 0, 0);
	float: left;
}

#item1{
	background-color: #ffffff;
}

#item2{
	background-color: #ffffff;
	margin-left: 4%;
}
